*{
  font-size: 18px;
  box-sizing: border-box;;
}
body{
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
header,
#navbar{
  display: flex;
}
header{
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 5%;
}
li{
  list-style: none;
}
.navbar-item{
  margin: 5px 20px;
  padding: 5px 20px;
}
#banner{
  background-image: url('/assets/images/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
}
#banner-text{
  margin-left:15%;
  width: 20%;
}
#banner h1{
  margin-bottom: 0;
}
#banner h1,
#banner h1 span{
  font-size: 2.2rem;
}
#banner h1 span{
  display: block;
}
#banner-text p{
  color: #777;
  font-size: 1rem;
  margin-top: 0;
}
.button{
  background-color:  #56ACC3;
  padding: 10px 50px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#container-cards{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  width: 33%;
  padding: 10px;
  border-radius: 10px;
}
.card img{
  width: 100%;
  border-radius: 10px;
}
.card p{
  margin: 10px 0;
  color: #585858;
  font-weight: bold;
  font-size: 1.3rem;
}
.section-title{
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 5px;
}
.section-title + p{
  font-size: 1.2rem;
  color: #777;
  margin-top: 0;
}
.container-side-dogs{
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.container-side-dogs img,
.container-side-dogs div{
  width: 50%;
  margin-top: 2rem;
}
.container-side-dogs div h1{
  font-size: 1.3rem;
}
.container-side-dogs div p{
  color: #777;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
#container-articles{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#container-articles article{
  width: 30%;
  border-radius: 10px;
  margin-top: 5rem;
}
#container-articles article p{
  color: #777;
  text-align: left;
}
.article h1{
  display: inline-block;
}
